<head>
    <meta charset="utf-8">
    <meta name="author" content="Tal Litvak">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="https://cdn.pbrd.co/images/HZiuQfb.x-icon" type="image/x-icon">
    <title>Audi Landing Page Demo</title>
    <link rel="stylesheet" href="style.css"> 
</head>

  <div class="wrapperContainer">
    <div class="header">
      <div class="header__logo">
        <img src="https://cdn.pbrd.co/images/HZiiaq2.png" alt="">
      </div>

      <div class="header__img">
        <img src="https://cdn.pbrd.co/images/HZiizyI.png" alt="">
      </div>

      <div class="header__sale mobhide">
        <div class="header--text mobhide">
          <span>THE NEW</span>
          <p>Audi A6</p>
          <p>do you got what it takes?</p>
        </div>
      </div>
    </div>
    <div class="bot-section">
      <div class="header__sale mob">
        <div class="header--text mob">
          <span>THE NEW</span>
          <p>Audi A6</p>
          <p>do you got what it takes?</p>
        </div>
      </div>

      <div class="form-container">
        <form id="form" novalidate>
          <div class="wrapper">
            <div class="form-title">Ready to Drive?</div>
            <hr>
            <div class="input-fields-container">
              <div class="input-field">
                <p>Name: <span class="error" aria-live="polite"></span></p>
                <div class="input-field-wrapper">
                  <label for="name"></label>
                  <input pattern=".{2,}" title="Please Enter A Valid Name" autocomplete="off" class="inputDocument"
                    type="text" id="name" name="user_name">
                </div>
              </div>
              <div class="input-field">
                <p>Email: <span class="error" aria-live="polite"></span></p>
                <div class="input-field-wrapper">
                  <label for="email"></label>
                  <input autocomplete="off" class="inputDocument" type="email" id="email" name="user_email">
                </div>
              </div>
              <div class="input-field">
                <p>Phone: <span class="error" aria-live="polite"></span></p>
                <div class="input-field-wrapper">
                  <label for="phone"></label>
                  <input oninvalid="this.setCustomValidity('Please Enter a valid Phone')" oninput="setCustomValidity('')"
                    maxlength="10" autocomplete="off" class="inputDocument" type="tel" id="phone" name="user_phone">
                </div>
              </div>
              <button id="submitForm" class="button" type="submit" name="button">
                <div class="send">Send</div>
              </button>
              <div class="input-field">
                <div class="agreementUser">
                  <input autocomplete="off" type="checkbox" checked id="agreement" name="user_agreement">
                  <label for="agreement">By clicking, I agree to recieve Emails about upcoming events.</label>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="rights">
            <p>Coded And Written By Tal 'Leetbeck' Litvak, All Rights Reserved &reg;</p>
        </div>
      </div>
    </div>
  </div>

<script src="main.js"></script>