@import url("https://fonts.googleapis.com/css?family=Questrial");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.mob {
  display: none; }
  
  html{
          background-color: #777777;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  }

body {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #cfcfcf;
  box-sizing: border-box;
  overflow-x: hidden; }

.wrapperContainer {
  height: auto; }

.header {
  height: 30vw;
  width: 100vw;
  background-color: #10131f;
  background-image: linear-gradient(rgba(16, 19, 31, 0.2), rgba(70, 69, 76, 0.2));
  position: relative; }
  .header__img {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10vw;
    z-index: 1; }
    .header__img img {
      height: 25vw; }
  .header__logo {
    display: inline-block;
    position: absolute;
    left: 1vw;
    top: 1vw;
    z-index: 1; }
    .header__logo img {
      height: 5vw; }
  .header__sale {
    position: absolute;
    top: 10vw;
    left: 5vw; }
    .header__sale .header--text span {
      color: red; }
    .header__sale .header--text p:nth-child(3) {
      color: #FFEB3B; }
    .header__sale .header--text {
      font-size: 3vw; }

.form-container {
  display: inline-block; }
  .form-container form {
    color: #cfcfcf;
    font-size: 2vw;
    padding: 3vw; }
    .form-container form .wrapper {
      width: 50%; }
      .form-container form .wrapper .form-title {
        font-size: 2vw; }
    .form-container form hr {
      width: 14vw;
      margin: 0.55rem 0; }
  .form-container .input-fields-container {
    text-align: left;
    width: 100%; }
    .form-container .input-fields-container .input-field {
      margin-bottom: 20px; }
      .form-container .input-fields-container .input-field p {
        font-size: 0.8rem;
        margin-top: 1.5rem;
        margin-bottom: 0.3rem; }
      .form-container .input-fields-container .input-field .input-field-wrapper {
        display: flex;
        outline: 0;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        flex-direction: column; }
        .form-container .input-fields-container .input-field .input-field-wrapper input {
          height: 40px;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.1);
          border-color: rgba(0, 0, 0, 0.3);
          color: #f6f6f7; }
      .form-container .input-fields-container .input-field .agreementUser {
        font-size: 1rem;
        color: #282828; }
    .form-container .input-fields-container .button {
      background-color: #292c35;
      color: #adadad;
      font-size: 1rem;
      height: 3rem;
      border-radius: 4px;
      min-width: 130px;
      border: none;
      cursor: pointer;
      font-family: 'Questrial', sans-serif;
      margin-bottom: 20px; }

::selection {
  background: #555555; }

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
  outline: 2px solid #f7f339; }

button:focus {
  outline: 2px solid #f7f339; }

.error {
  width: 100%;
  padding: 0;
  color: #ff9292;
  font-size: 0.77rem;
  border-radius: 20; }

.error.active {
  padding: 0.3em; }

.rights {
  padding: 3vw;
  font-size: 11px;
  text-align: left;
  color: #464646; }

.bot-section {
  position: relative;
  background-color: #777777;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  border-top: 3px solid; }

@media only screen and (max-width: 640px) {
  .rights {
    text-align: center;
    padding: 3vw;
    font-size: 11px;
    color: #464646; }
  .mobhide {
    display: none; }
  .mob {
    display: block; }
  .bot-section .lorem {
    margin: 2vw;
    padding: 3vw; }
  .header__sale {
    position: relative;
    display: inline-block;
    top: 2vw;
    padding: 0; }
  .header__img {
    display: inline-block;
    position: absolute;
    right: 5vw;
    top: 3vw;
    z-index: 1; }
    .header__img img {
      height: 40vw; }
  .header__logo img {
    height: 10vw; }
  .bot-section {
    height: auto;
    position: relative; }
    .bot-section .form-box {
      top: 0;
      margin: 0 auto;
      left: 50%;
      transform: translate(-50%);
      padding: 10vw; }
      .bot-section .form-box form {
        display: flex;
        flex-direction: column;
        position: relative; }
        .bot-section .form-box form label {
          position: relative;
          left: 2vw;
          padding: 2vw 0;
          /* top: 2vw; */
          padding: 5vw 0; }
        .bot-section .form-box form span {
          position: absolute;
          top: 0;
          left: 2vw;
          width: 40vw; }
      .bot-section .form-box input[type="text"] {
        height: 6vw;
        width: 35vw; }
  .form-container {
    display: block;
    margin-top: 1rem; }
    .form-container form .wrapper {
      width: 100%; }
      .form-container form .wrapper hr {
        width: 28vw; }
      .form-container form .wrapper .form-title {
        font-size: 4vw; }
      .form-container form .wrapper .input-fields-container .button {
        width: 100%; } }
